/* src/styles/LoginPage.module.css */

.loginContainer {
  background-image: url('C:\Users\Harsha\Downloads\food background.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8; /* Light background color */
  }
  .loginBox {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 300px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
  }
  
  .inputField {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    border-color: #4caf50;
  }
  
  .loginButton {
    width: 100%;
    padding: 12px;
    background-color: #4caf50; /* Green color */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #45a049;
  }
  
  .loginBox:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  